.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0 0.5rem;
}
@media screen and (min-width: 415px) {
  .hero {
    flex-flow: row wrap;
    margin-top: 3rem;
  }
}
.hero .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
@media screen and (min-width: 415px) {
  .hero .left {
    width: 45%;
    height: 80vh;
  }
}
@media screen and (min-width: 415px) {
  .hero .left h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 415px) {
  .hero .left p {
    font-size: 2rem;
  }
}
.hero .left .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat Alternates, sans-serif;
  border: none;
  cursor: pointer;
  background-color: #4a3433;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  width: 15rem;
  height: 2rem;
}
@media screen and (min-width: 415px) {
  .hero .left .button {
    margin-top: 1rem;
    height: 2rem;
  }
}
.hero .right {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@media screen and (min-width: 415px) {
  .hero .right {
    width: 45%;
    height: 80vh;
    margin-top: 0;
  }
}
.case-study {
  background-color: whitesmoke;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 415px) {
  .case-study {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
}
.case-study .left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: 2rem;
}
@media screen and (min-width: 415px) {
  .case-study .left {
    width: 20%;
    height: 80vh;
  }
}
.case-study .left h1 {
  font-size: 4rem;
}
.case-study .left button {
  border: none;
  border-radius: 5px;
  background-color: #4a3433;
  color: whitesmoke;
  font-family: Montserrat Alternates, sans-serif;
  height: 2rem;
}
.case-study .right {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 415px) {
  .case-study .right {
    height: 80vh;
    width: 45%;
  }
}
@media screen and (min-width: 415px) {
  .case-study .right img {
    width: auto;
  }
}
