.report {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  cursor: pointer;
  background-color: #fef6d8;
  margin: 1rem;
  color: #552931;
}
@media screen and (min-width: 1058px) {
  .report {
    margin: 1rem 15rem;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: whitesmoke;
  height: 100vh;
  width: auto;
  background-image: url('../images/roofing3-main.jpg');
  filter: brightness(1) saturate(2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100rem;
}
.hero h4 {
  padding: 0 1rem;
}
.hero .certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem;
}
.hero .certifications img {
  height: 7rem;
  margin: 0 1rem;
}
@media screen and (min-width: 1058px) {
  .hero .certifications img {
    margin: 1rem 1rem 0 1rem;
    height: 10rem;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
@media screen and (min-width: 1058px) {
  .banner {
    justify-content: center;
    flex-flow: row wrap;
  }
}
.banner .location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: whitesmoke;
  margin: 1rem 0;
  height: 45vh;
}
@media screen and (min-width: 1058px) {
  .banner .location {
    width: 40rem;
    margin: 1rem;
  }
}
.banner .location h1 {
  padding: 0 1rem;
  color: #552931;
}
.banner .location h4 {
  padding: 0 2rem;
  color: #552931;
}
.banner .inspection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: whitesmoke;
  margin: 1rem;
  height: 45vh;
}
@media screen and (min-width: 1058px) {
  .banner .inspection {
    width: 40rem;
    margin: 1rem;
  }
}
.banner .inspection h1 {
  padding: 0 1rem;
  color: #552931;
}
.banner .inspection h4 {
  padding: 0 1rem;
  color: #552931;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0 1rem;
  padding: 1rem;
  height: 100vh;
  color: whitesmoke;
  background-image: url('../images/roofing-full-size.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0 15rem;
  }
}
@media screen and (min-width: 1058px) {
  .about {
    background-image: url('../images/full2.jpg');
  }
}
@media screen and (min-width: 1058px) {
  .about h4 {
    padding: 0 20rem;
  }
}
@media screen and (min-width: 1058px) {
  .about p {
    padding: 1rem 20rem;
  }
}
.systems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: auto;
}
@media screen and (min-width: 1058px) {
  .systems {
    margin: 0 15rem;
  }
}
.systems h4 {
  color: #552931;
}
.systems h1 {
  color: #552931;
}
.systems .types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.systems .types h4 {
  color: #552931;
}
.systems .types p {
  color: #552931;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: auto;
}
@media screen and (min-width: 1058px) {
  .services {
    margin: 0 15rem;
  }
}
.services h4 {
  color: #552931;
}
.services h1 {
  color: #552931;
}
.services .service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.services .service h4 {
  color: #552931;
}
.services .service p {
  color: #552931;
}
.contact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 2rem;
  color: #552931;
}
@media screen and (min-width: 1058px) {
  .contact h1 {
    margin: 2rem 0;
  }
}
.contact .addresses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 5rem 0;
  height: auto;
}
.contact .addresses address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 1rem 0;
}
@media screen and (min-width: 1058px) {
  .contact .addresses address {
    margin: 0 5rem;
  }
}
.contact .addresses address h2 {
  color: #552931;
}
.contact .addresses address h4 {
  color: #552931;
}
@media screen and (min-width: 1058px) {
  .contact .addresses {
    flex-flow: row wrap;
  }
}
