.report {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  cursor: pointer;
  background-color: #fef6d8;
  margin: 1rem;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: whitesmoke;
  height: 100vh;
  background-image: url('../images/roofing2-main.webp');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  h4 {
    padding: 0 1rem;
  }
}
.banner {
  margin: 1rem;
  padding: 1rem;
  .location {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 1px solid black;
  }
  .inspection {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 1px solid black;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: 100vh;
}
.systems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: auto;
  .types {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: auto;
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: auto;
  address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
