.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0 0.5rem;
  @media screen and (min-width: 415px) {
    flex-flow: row wrap;
    margin-top: 3rem;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    @media screen and (min-width: 415px) {
      width: 45%;
      height: 80vh;
    }
    h1 {
      @media screen and (min-width: 415px) {
        font-size: 4rem;
      }
    }
    p {
      @media screen and (min-width: 415px) {
        font-size: 2rem;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat Alternates, sans-serif;
      border: none;
      cursor: pointer;
      background-color: #4a3433;
      color: whitesmoke;
      border-radius: 5px;
      text-decoration: none;
      width: 15rem;
      height: 2rem;
      @media screen and (min-width: 415px) {
        margin-top: 1rem;
        height: 2rem;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    @media screen and (min-width: 415px) {
      width: 45%;
      height: 80vh;
      margin-top: 0;
    }
  }
}
.case-study {
  background-color: whitesmoke;
  text-decoration: none;
  color: black;
  @media screen and (min-width: 415px) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  .left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 2rem;

    @media screen and (min-width: 415px) {
      width: 20%;
      height: 80vh;
    }
    h1 {
      font-size: 4rem;
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: #4a3433;
      color: whitesmoke;
      font-family: Montserrat Alternates, sans-serif;
      height: 2rem;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 415px) {
      height: 80vh;
      width: 45%;
    }
    // video {
    //   @media screen and (min-width: 415px) {
    //   }
    // }
    img {
      @media screen and (min-width: 415px) {
        width: auto;
      }
    }
  }
}
